altair
annotated-types==0.7.0
anyio==4.8.0
attrs
blinker
Brotli
cachetools
certifi
charset-normalizer
click
contourpy
cycler
elementpath
fastapi==0.115.11
Flask
fonttools
gitdb
GitPython
greenlet==3.1.1
h11==0.14.0
idna==3.10
importlib_metadata
importlib_resources
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
Levenshtein
lxml
MarkupSafe
matplotlib==3.10.1
munkres==1.1.4
narwhals
networkx
numpy
packaging
pandas
pillow
pkgutil_resolve_name
playwright==1.50.0
playwright-stealth==1.0.6
protobuf
pyarrow==19.0.1
pydantic==2.10.6
pydantic_core==2.27.2
pydeck
pyee==12.1.1
pyparsing
PySide6==6.8.2
PySocks
python-dateutil
python-Levenshtein
python-multipart==0.0.20
pytz
PyYAML
RapidFuzz
referencing
requests
rpds-py
setuptools==75.8.0
shiboken6==6.8.2
six
smmap
sniffio==1.3.1
starlette==0.46.0
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
unicodedata2
urllib3
uvicorn==0.34.0
watchdog
Werkzeug
wheel==0.45.1
xmlschema
zipp
